/*
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Bebas Neue', cursive;font-family: 'Bebas Neue', cursive;
*/

*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



h2 {
    font-size:3rem;
	padding:1rem;



}

h3{
    padding-top:2rem;
    font-family: 'Lato', sans-serif;
}

.info{

	background: cover;
	color: aliceblue;
    padding:2rem;
	 background: url(Imag/01-wp-uno.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}


.navbar{
    	background-color: rgba(29, 37, 35, 0.75);    /* Color: #1D2523 */

}

.navbar a{
  font-family: 'ProximaNova',Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar img{
  max-width: 15%;
  height: auto;
  vertical-align: middle;
}




navbar-expand-md .navbar-nav .nav-lin{
	color: chartreuse;
	font-family: 'Roboto', sans-serif;

}

.botonn{
	padding: 3rem;
	background:url(Imag/02-wp-dos.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
	padding-top:1rem;

}





.boton img{
        -webkit-transform:scale(0.9);
        -ms-transform:scale(0.9);
        -o-transform:scale(0.9);
        transform:scale(0.9);
        -webkit-transition:.3s ease-out;
        -o-transition:.3s ease-out;
        transition:.3s ease-out;
    }

    .boton img:hover{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-transition:.3s ease-in;
        -o-transition:.3s ease-in;
        transition:.3s ease-in;
    }

.panta{
	padding:2rem;
	padding-top: 2rem;
	background:url(Imag/03-wp-tres.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: beige;

}
.videe{
padding:1rem;
     font-family: 'Bebas Neue', cursive;
	background:url(Imag/04-wp-tres%20-%20copia.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.contac{

    background-color: aqua;
	padding-top: 3rem;
	padding:2rem;
	background:url(Imag/04-wp-cuatro.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.empresa{
	color: aliceblue;

}
.huerta{
	color: #0ade33;
}
.foo{
	background-color: #95C11F;
	padding:2rem;

}
.social{
        font-size:2.2rem;
    }
    .fa-facebook{
        color: rgba(31, 74, 216, 0.8);
    }
    .fa-youtube{
        color: #fd0a0a;
    }
    .fa-twitter{
        color: #00ffff;
    }
    .fa-instagram{
        color: #e2f500;
    }
    .fa-linkedin{
        color: #007af0;
    }
@media(min-width:768px){
    .social{
        font-size:1.2rem;
    }
    .fa-facebook{
        color: rgba(31, 74, 216, 0.8);
    }
    .fa-youtube{
        color: #cb1818;
    }
    .fa-twitter{
        color: #1ec7c7;
    }
    .fa-instagram{
        color: blueviolet;
    }
    .fa-linkedin{
        color: dodgerblue;
    }

h2 {
    font-size:2rem;


}

h3{
    padding-top:1rem;

}
@media(min-width:1200px){
    social{
        font-size:1.2rem;
    }
    .fa-facebook{
        color: rgba(31, 74, 216, 0.8);
    }
    .fa-youtube{
        color: #cb1818;
    }
    .fa-twitter{
        color: #1ec7c7;
    }
    .fa-instagram{
        color: blueviolet;
    }
    .fa-linkedin{
        color: dodgerblue;
    }

h2 {
    font-size:2rem;


}

h3{
    padding-top:1rem;
}

@media(min-width:500px){

    .contacto{
        padding:1rem;
        margin:1rem;
    }

h2 {
    font-size:3rem;


}

h3{
    padding-top:2rem;
}
